<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bardia Chat</title>
    <link type="text/css" rel="stylesheet" href="Style/Bootstrap/bootstrap.min.4.3.1.css"/>
    <link type="text/css" rel="stylesheet" href="Style/Bootstrap/bootstrap-dialog.min.1.34.9.css"/>

    <link type="text/css" rel="stylesheet" href="Style/Public.css"/>
    <link type="text/css" rel="stylesheet" href="Style/Chat/Chat.css"/>
</head>

<body onload="onLoad();">
<div class="modal fade" id="dialog-warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialog-warning-title">Modal title</h5>
            </div>
            <div class="modal-body" id="dialog-warning-body"></div>
            <div class="modal-footer">
                <button id="dialog-warning-btn-ok" type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
                <button id="dialog-warning-try-again" type="button" class="btn btn-outline-success">Try Again</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <header class="card-header row text-center">
        <div class="dropdown">
            <img src="image/Chat/ic_open_menu.png" id="dropdownMenuButton"
                 data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false" alt="Menu"/>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div id="div-header-img-profile" class="card-header">
                    <img class="rounded-circle" src="image/Chat/ic_face.png" id="img-user" alt="Image Profile"/>

                    <div id="div-name-phone">
                        <h6 class="name-user"></h6>
                        <h6 id="phone-user"></h6>
                    </div>
                </div>
                <hr/>
                <div id="div-dropdown">
                    <div id="div-change-list">
                        <label class="dropdown-item-text">List</label>
                        <button id="btn-list-public" class="dropdown-item active">Public</button>
                        <button id="btn-list-public-group" class="dropdown-item">Public Group</button>
                        <button id="btn-list-public-channel" class="dropdown-item">Public Channel</button>
                        <button id="btn-list-your-channel" class="dropdown-item">Your Channel</button>
                        <button id="btn-list-your-group" class="dropdown-item">Your Group</button>
                    </div>
                    <hr/>
                    <div>
                        <label class="dropdown-item-text">New</label>
                        <button id="new-group" class="dropdown-item">New Group</button>
                        <button id="new-channel" class="dropdown-item">New Channel</button>
                        <button id="new-pv" class="dropdown-item">New Pv</button>
                    </div>
                </div>

            </div>
        </div>
        <h5 class="w-25 name-user"></h5>

        <label id="status">...</label>
    </header>

    <div id="content" class="row">
        <div class="container jumbotron my-2 col-4">
            <div>
                <div id="list-chat">
                    <div class="justify-content-center align-self-center form-group has-search">
                        <img src="image/Chat/ic_search.png" class="form-control-feedback"/>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item dropdown-item list-chat-item">
                            <div class="row">
                                <div class="col-2">
                                    <img class="img-profile rounded-circle" src="image/Chat/bardiademon.jpg"
                                         alt="Image Profile"/>
                                </div>
                                <label class="col-7 justify-content-center align-self-center">Name User</label>
                                <label class="lbl-number-alert col-2 justify-content-center align-self-center alert-danger rounded-circle">50</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container jumbotron my-2 col-8">
            <div>
                feragrgreg
            </div>
        </div>
    </div>
</div>
</body>


<script type="text/javascript" rel="script" src="Controller/JQuery/jquery.min.3.4.1.js"></script>

<script src="Controller/JQuery/jquery.ajax.3.4.1.main.js" type="text/javascript" rel="script"></script>

<script src="Controller/JQuery/jquery.cookie.1.4.1.js" type="text/javascript" rel="script"></script>

<script src="Controller/JQuery/jquery.timer.js" type="text/javascript" rel="script"></script>

<!--For Open DropDown-->
<script type="text/javascript" rel="script" src="Controller/popper.min.1.14.7.js"></script>

<script type="text/javascript" rel="script" src="Controller/Bootstrap/bootstrap.min.4.3.1.js"></script>

<script type="text/javascript" rel="script" src="Controller/Bootstrap/bootstrap-dialog.min.1.34.9.js"></script>


<script type="text/javascript" rel="script" src="Controller/CheckIsLogin.js"></script>

<script type="text/javascript" rel="script" src="Controller/Chat/socket.io-client/dist/socket.io.js"></script>

<script type="text/javascript" rel="script" src="Controller/Chat/Connect.js"></script>

<script type="text/javascript" rel="script" src="Controller/Chat/GeneralSocket.js"></script>

<script type="text/javascript" rel="script" src="Controller/Chat/RequestHttp/OnLoad.js"></script>

</html>